.home-navbar {
    position: fixed; /* el sticky */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #0b0c0ff2;
    display: flex;
    justify-content: space-between; /* con esto corro los boten a la isq, y logo a la derecha */
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 4px 12px #00000080;
    z-index: 1000; /* arreglo para el stiky, que se vea bien */
}

.home-navbar .logo {
    font-size: 1.8rem;
    color: #c52ef7;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.3s;
    text-shadow: 2px 2px 8px #c52ef7b3;
}

.home-navbar .logo:hover {
    color: #f72ef7;
}

.home-navbar .nav-links {
    display: flex;
    gap: 10px;
}

/*botones dentro del navbar */
.home-navbar .nav-links button {
    font-weight: 500;
}